In [191]:
import numpy as np
import pandas as pd

In [192]:
df_train= pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')
df_train=df_train.copy()
df_test=df_test.copy()

In [193]:
# stuff to do: \n
# --> keep only the titles of Name and sort them out- completed
# -->sort out the age null by maybe looking at name- completed 
# -->sort out the cabin null- completed
# -->fix cabin by only keeping first letter - completed
# -->assign numerical values to gender- completed
# --> encode different columns- completed

In [194]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [195]:
#The Dataset Cleaner(Training):
df_train= pd.read_csv('train.csv')
df_train['Cabin'] = df_train['Cabin'].str[0].fillna('U') ##Keeps only the first letter of the Cabin details,it seems
# to be that instead of tring to identify which cabins they belonged to,
#people just make a new label Unknown.
df_train=df_train[df_train['Cabin'] != 'T'] #Only one person from that level, can be considered a outlier
df_train = df_train.drop('Ticket', axis=1) #Seems pretty useless at the moment, maybe when im more skilled i can do something with it
df_train['Title'] = df_train['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False) # main reason we can identify titles, understsnd the
#function well for future use
df_train['Title']= df_train['Title'].replace(['Dr','Rev','Major','Major','Col','Countess','Capt','Sir','Lady','Don','Jonkheer'],'Rare')
df_train['Title']=df_train['Title'].replace('Mlle','Miss')
df_train['Title']=df_train['Title'].replace('Ms','Miss')
df_train['Title']=df_train['Title'].replace('Mme','Mrs')
df_train=df_train.drop('Name',axis=1)
#Above code is done to get rid of outliers, and group unique values into a certain category, should help in getting a pattern
df_train['Sex'] = df_train['Sex'].apply(lambda x: 0 if x == 'female' else 1) #Should use either .apply() or .map() as it does vectorization
df_train=df_train[df_train['Embarked'].isnull() != True] #currently seems like the best thing to do, doesnt affect the dataset much since
#only 2 rows
df_train.loc[:,'Age'] = df_train['Age'].fillna(df_train.groupby('Title')['Age'].transform('median')) #fixes the age null issue by filling
# with median as per values in title, much better than hardcoding a generalized value. note: use before encoding
cols_to_encode = ['Title', 'Embarked', 'Cabin'] # selecting columns to encode. since its not binary like sex, we did one hot encoding
df_train = pd.get_dummies(df_train, columns=cols_to_encode, drop_first=True) # does the one hot encoding using inbuilt pandas
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 888 entries, 0 to 890
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  888 non-null    int64
 1   Survived     888 non-null    int64
 2   Pclass       888 non-null    int64
 3   Sex          888 non-null    int64
 4   Age          888 non-null    float64
 5   SibSp        888 non-null    int64
 6   Parch        888 non-null    int64
 7   Fare         888 non-null    float64
 8   Title_Miss   888 non-null    bool
 9   Title_Mr     888 non-null    bool
 10  Title_Mrs    888 non-null    bool
 11  Title_Rare   888 non-null    bool
 12  Embarked_Q   888 non-null    bool
 13  Embarked_S   888 non-null    bool
 14  Cabin_B      888 non-null    bool
 15  Cabin_C      888 non-null    bool
 16  Cabin_D      888 non-null    bool
 17  Cabin_E      888 non-null    bool
 18  Cabin_F      888 non-null    bool
 19  Cabin_G      888 non-null    bool
 20  Cabin_U      888 non-null    bool
dtypes: bool(13), float64(2), int64(6)
memory usage: 73.7 KB

In [196]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [197]:
#The Dataset Cleaner(Testing):
df_test=pd.read_csv('test.csv')
df_test['Cabin']=df_test['Cabin'].str[0].fillna('U')
df_test=df_test.drop('Ticket',axis=1)
df_test['Title']=df_test['Name'].str.extract(r' ([A-Za-z]+)\.',expand=False)
df_test['Title']= df_test['Title'].replace(['Dr','Rev','Major','Major','Col','Countess','Capt','Sir','Lady','Don','Jonkheer'],'Rare')
df_test['Title']=df_test['Title'].replace('Mlle','Miss')
df_test['Title']=df_test['Title'].replace('Ms','Miss')
df_test['Title']=df_test['Title'].replace('Mme','Mrs')
df_test=df_test.drop('Name',axis=1)
df_test['Sex']=df_test['Sex'].apply(lambda x: 0 if x== 'female' else 1)
df_test.loc[:,'Age']=df_test['Age'].fillna(df_test.groupby('Title')['Age'].transform('median'))
df_test.loc[:,'Fare']=df_test['Fare'].fillna(df_test.groupby('Pclass')['Fare'].transform('median'))
cols_to_encode = ['Title', 'Embarked', 'Cabin']
df_test = pd.get_dummies(df_test, columns=cols_to_encode, drop_first=True) # does the one hot encoding using inbuilt pandas
model_features = df_train.drop('Survived', axis=1).columns
df_test = df_test.reindex(columns=model_features, fill_value=0)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Title_Miss   418 non-null    bool
 8   Title_Mr     418 non-null    bool
 9   Title_Mrs    418 non-null    bool
 10  Title_Rare   418 non-null    bool
 11  Embarked_Q   418 non-null    bool
 12  Embarked_S   418 non-null    bool
 13  Cabin_B      418 non-null    bool
 14  Cabin_C      418 non-null    bool
 15  Cabin_D      418 non-null    bool
 16  Cabin_E      418 non-null    bool
 17  Cabin_F      418 non-null    bool
 18  Cabin_G      418 non-null    bool
 19  Cabin_U      418 non-null    bool
dtypes: bool(13), float64(2), int64(5)
memory usage: 28.3 KB

In [198]:
#Initial: Always drop survived column as it would leak the data and achieve 100% accuracy just by looking at that column
Y = df_train['Survived']
X = df_train.drop('Survived', axis=1)
X_test = df_test

In [201]:
#importing the models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X) # for learning phase
X_test_scaled = scaler.transform(X_test) # for testing phase

In [203]:
logistic_regression = LogisticRegression(max_iter=1000)
# cv=5 splits the data into 5 pieces automatically
log_scores = cross_val_score(logistic_regression, X_scaled, Y, cv=5)

print("--- Logistic Regression ---")
print(f"Scores: {log_scores}")
print(f"Average: {np.mean(log_scores):.2%}")

--- Logistic Regression ---
Scores: [0.81460674 0.81460674 0.79775281 0.81355932 0.86440678]
Average: 82.10%

In [204]:
random_forest = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
rf_scores = cross_val_score(random_forest, X, Y, cv=5) #cv is like running the model 5 times and averaging the accuracy

print("\n--- Random Forest ---")
print(f"Scores: {rf_scores}")
print(f"Average: {np.mean(rf_scores):.2%}")

--- Random Forest ---
Scores: [0.81460674 0.82022472 0.81460674 0.8079096  0.83615819]
Average: 81.87%

In [205]:
svm_clf = SVC(gamma='auto') #gamma tells how much influence a single training example has
svm_scores = cross_val_score(svm_clf, X_scaled, Y, cv=5)

print("\n--- SVM ---")
print(f"Scores: {svm_scores}")
print(f"Average: {np.mean(svm_scores):.2%}")

--- SVM ---
Scores: [0.83146067 0.80898876 0.82022472 0.79096045 0.87570621]
Average: 82.55%

In [210]:
#submission: we went with random forest as the CV score is more stable
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, Y)
final_prediction= model.predict(X_test)
submission = pd.DataFrame({
    "PassengerId": pd.read_csv('test.csv')['PassengerId'],
    "Survived": final_prediction
})

#Export
submission.to_csv('submission_stable_random_forest.csv', index=False) #index has to be false of kaggle will reject
print("Submission file created successfully!")

Submission file created successfully!